/* #vizContainer{
height: 800px;
width: 800px;
}; */

#barChart{
margin: 5px;
padding: 5px;
};

#bubbleChart{
    margin: 5px;
    padding: 5px;
    };

#boxAndWhisker{
    margin: 5px;
    padding: 5px;
    };
